/**
 * Custom theme
 */
 /* @import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;600&family=Sen:wght@400;700&display=swap"); */
 :root {
   --font-family: "semplicitapro", sans-serif;
   --font-weight: 400;
   

   --form-element-spacing-vertical: 1rem;
   --form-element-spacing-horizontal: 1.25rem;
   
   scroll-behavior: smooth;
   height: 100%;
   scrollbar-width: 1px;
   

 }

/*

hsl(218deg 15% 42%)
hsl(25deg 36% 54%)
hsl(203deg 33% 52%)
hsl(129deg 7% 20%)
hsl(10deg 40% 56%)
hsl(107deg 14% 46%)
*/


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   --font-family: "semplicitapro", serif;
   --font-weight: 500;
 }
 

 @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
      
      --primary:hsl(182deg, 33%, 56%);
      --primary-hover:hsl(182deg 43% 66%);
      --primary-focus: hsl(182deg 43% 26%);;
    }
}

body> section
{
  --border-radius: 0;
}

body> header {
  background-image: url('/img/back-top.png'), linear-gradient( rgb(255,255,255), rgb(0,0,0));
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
  min-height: 100%;
  height: 100vh;
}

body> footer small {
  margin-bottom: 0;
  padding: 0;
  color: var(--muted-color);
  list-style: none;
}

body> article footer {
  margin: 0 auto;
}

hgroup:after {
  display: block;
  max-width: 100px;
  margin-top: 1rem;
  border-bottom: 0.125rem solid var(--primary);
  content: "";
}

footer a svg {
  width: 2rem;
}

footer a {
  margin-right: 1rem;
}

footer a:focus {
  background-color: transparent;
}

footer a:hover {
  text-decoration: none;
}