/**
 * Custom theme
 */
 @import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;600&family=Sen:wght@400;700&display=swap");
 :root {
   --font-family: "semplicitapro", sans-serif;
   --font-weight: 400;
   --border-radius: 0;
   --form-element-spacing-vertical: 1rem;
   --form-element-spacing-horizontal: 1.25rem;
 }


/*

hsl(218deg 15% 42%)
hsl(25deg 36% 54%)
hsl(203deg 33% 52%)
hsl(129deg 7% 20%)
hsl(10deg 40% 56%)
hsl(107deg 14% 46%)
*/


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   --font-family: "semplicitapro", serif;
   --font-weight: 500;
 }
 

 @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
      color-scheme: dark;
      --primary:#5091b9;
      --primary-hover:hsl(203deg 43% 62%);
      --primary-focus: hsl(203deg 43% 22%);

      test: hsl(218deg 25% 42%);
      test: hsl(25deg 46% 54%);
      test: hsl(203deg 43% 52%);
      test: hsl(129deg 17% 20%);
      test: hsl(10deg 50% 56%);
      test: hsl(107deg 24% 46%);
    }
}

body>footer ul, body>footer ul li {
  margin-bottom: 0;
  padding: 0;
  color: var(--muted-color);
  list-style: none;
}