/**
 * Custom theme
 */
/* @import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;600&family=Sen:wght@400;700&display=swap"); */
:root {
  --font-family: "semplicitapro", sans-serif;
  --font-weight: 400;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;

  scroll-behavior: smooth;
  height: 100%;

}

.mobile {
  display: none;
}

/*

hsl(218deg 15% 42%)
hsl(25deg 36% 54%)
hsl(203deg 33% 52%)
hsl(129deg 7% 20%)
hsl(10deg 40% 56%)
hsl(107deg 14% 46%)
*/


h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: "semplicitapro", serif;
  --font-weight: 500;
}


@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {

    --primary: hsl(182deg, 33%, 56%);
    --primary-hover: hsl(182deg 43% 66%);
    --primary-focus: hsl(182deg 43% 26%);
    ;
  }
}

body>section {
  --border-radius: 0;
}

body>header {
  background-image: url('/img/back-top.png'), linear-gradient(rgba(255, 255, 255,0) 20%,  rgba(17, 25, 31, 0.9) 45%,  rgba(17, 25, 31, 0.9) 80%, rgba(255, 255, 255,0) 100%);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  /* border-bottom: 1px solid black; */
  min-height: 100%;
  height: 100vh;
}


body>footer small {
  margin-bottom: 0;
  padding: 0;
  color: var(--muted-color);
  list-style: none;
}

body>article footer {
  margin: 0 auto;
}

hgroup:after {
  display: block;
  max-width: 100px;
  margin-top: 1rem;
  border-bottom: 0.125rem solid var(--primary);
  content: "";
}

footer a svg {
  width: 2rem;
}

footer a {
  margin-right: 1rem;
}

footer a:focus {
  background-color: transparent;
}

footer a:hover {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  body header nav.desktop {
    display: flex;
  }
}

@media screen and (max-width: 600px) {

  :root {
    font-size: larger
  }

  body>header {
    background-image: url('/img/back-mobile.png'), linear-gradient(rgba(255, 255, 255,0) 20%,  rgba(17, 25, 31, 1) 35%,  rgba(17, 25, 31, 0.9) 70%, rgba(255, 255, 255,0) 80%);
  }

  aside.mobile input[type=checkbox].hide-input:checked+nav {
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  aside.mobile {
    margin-left: -1rem;
    width: 100vw;
  }

  aside.mobile>nav {
    padding-top: 2.5rem;
    padding-bottom: 5.5rem;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
    background: rgba(17, 25, 31, 1);
    transition: opacity 0.2s ease;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  nav.mobile {
    padding-bottom: 1.7rem;
  }

  input.hide-input {
    position: absolute;
    left: -999em;
  }

  label.toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3px;
    user-select: none;
  }

  .mob-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
  }

  .mob-menu-header>img {
    width: 8rem;
    opacity: 0.9;
    transition: all 0.2 ease;
  }

  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }
}