[submodule "themes/raditian-free-hugo-theme"]
	path = themes/raditian-free-hugo-theme
	url = git@github.com:queil/raditian-free-hugo-theme.git
[submodule "themes/raditian"]
	path = themes/raditian
	url = git@github.com:queil/raditian-free-hugo-theme.git
